# ワークフロー名を定義します。
name: Hello GitHub Actions
# トリガーとなるイベントを定義します。(mainブランチへのpush)
on:
  push:
    branches:
      - 'main'
# ジョブを追加します。(最新バージョンのUbuntu上でビルドを実行します。)
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo Hello GitHub Actions!!
